{{ "section-tabs.css" | asset_url | stylesheet_tag }}

<script src="{{ "section-tabs.js" | asset_url }}" defer></script>

{% render 'section-padding' %}

{% style %}
  #shopify-section-{{ section.id }}  {
    background: {{ section.settings.section_bg }};
  }

  #shopify-section-{{ section.id }} .s-tabs__title {
    color: {{ section.settings.title_color }};
  }

  #shopify-section-{{ section.id }} .s-tabs__title b,
  #shopify-section-{{ section.id }} .s-tabs__title strong{
    color: {{ section.settings.accent_title_color }};
  }

  #shopify-section-{{ section.id }} .s-tabs__container {
    background: {{ section.settings.tab_bg }};
  }

  #shopify-section-{{ section.id }} .s-tabs__trigger {
    background: {{ section.settings.tab_bg }};
    color: {{ section.settings.tab_color }};
  }

  #shopify-section-{{ section.id }} .s-tabs__trigger svg path {
    fill: {{ section.settings.tab_color }};
  }

  #shopify-section-{{ section.id }} .s-tabs__trigger.is-active {
    background: {{ section.settings.tab_bg_active }};
    color: {{ section.settings.tab_color_active }};
  }

  #shopify-section-{{ section.id }} .s-tabs__trigger.is-active svg path {
    fill: {{ section.settings.tab_color_active }};
  }

  @media (min-width: 768px) {
    #shopify-section-{{ section.id }} .s-tabs__trigger:hover,
    #shopify-section-{{ section.id }} .s-tabs__trigger.is-active {
      background: {{ section.settings.tab_bg_active }};
      color: {{ section.settings.tab_color_active }};
    }

    #shopify-section-{{ section.id }} .s-tabs__trigger:hover svg path,
    #shopify-section-{{ section.id }} .s-tabs__trigger.is-active svg path {
      fill: {{ section.settings.tab_color_active }};
    }
  }
{% endstyle %}

<s-tabs class="s-tabs container-m">
  {% if section.settings.title != blank %}
    <h2 class="s-tabs__title">
      {{ section.settings.title }}
    </h2>
  {% endif %}

  <div class="s-tabs__container">
    {% for block in section.blocks %}
      <button type="button" class="s-tabs__trigger js-tabs__trigger {% if forloop.first %}is-active{% endif %}" data-index="{{ forloop.index0 }}">
        {% render "icons", icon: block.settings.preview_icon %}

        <span>{{ block.settings.preview_title }}</span>
      </button>
    {% endfor %}
  </div>

  <div class="s-tabs__slider-container">
    <div class="s-tabs__slider swiper js-tabs__slider">
      <div class="s-tabs__list swiper-wrapper">
        {% for block in section.blocks %}
          {% style %}
            #shopify-section-{{ section.id }} .s-tabs__item-{{- block.id }} .s-tabs__item-label {
              color: {{ block.settings.preview_title_color }};
            }

            #shopify-section-{{ section.id }} .s-tabs__item-{{- block.id }} .s-tabs__item-title {
              color: {{ block.settings.title_color }};
            }

            #shopify-section-{{ section.id }} .s-tabs__item-{{- block.id }} .s-tabs__item-description * {
              color: {{ block.settings.description_color }};
            }

            #shopify-section-{{ section.id }} .s-tabs__item-{{- block.id }} .s-tabs__item-link {
              background: {{ block.settings.link_bg }};
              color: {{ block.settings.link_color }};
            }

            #shopify-section-{{ section.id }} .s-tabs__item-{{- block.id }} .s-tabs__item-link svg path {
              fill: {{ block.settings.link_color }};
            }

            #shopify-section-{{ section.id }} .s-tabs__item-{{- block.id }} .s-tabs__item-link:hover {
              background: {{ block.settings.link_color }};
              color: {{ block.settings.link_bg }};
            }

            #shopify-section-{{ section.id }} .s-tabs__item-{{- block.id }} .s-tabs__item-link:hover svg path {
              fill: {{ block.settings.link_bg }};
            }
          {% endstyle %}

          <div class="s-tabs__item swiper-slide s-tabs__item-{{- block.id }}" data-index="{{ block.id }}">
            {% if block.settings.image != blank %}
              {% render "image-lazy", image: block.settings.image, class: "s-tabs__item-image" %}
            {% endif %}

            <div class="s-tabs__item-wrapper">
              {% if block.settings.preview_title != blank %}
                <span class="s-tabs__item-label">
                  {{ block.settings.preview_title }}
                </span>
              {% endif %}
              {% if block.settings.title != blank %}
                <h3 class="s-tabs__item-title">
                  {{ block.settings.title }}
                </h3>
              {% endif %}

              {% if block.settings.description != blank %}
                <div class="s-tabs__item-description">
                  {{ block.settings.description }}
                </div>
              {% endif %}

              {% if block.settings.link_text != blank and block.settings.link_url != blank %}
                <a href="{{ block.settings.link_url }}" class="s-tabs__item-link">
                  {% render "icons", icon: block.settings.link_icon %}

                  {{ block.settings.link_text }}
                </a>
              {% endif %}
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
    <button type="button" class="s-tabs__slider-btn js-tabs__slider-btn--prev">{% render "icons", icon: "chewron-down" %}</button>
    <button type="button" class="s-tabs__slider-btn js-tabs__slider-btn--next">{% render "icons", icon: "chewron-down" %}</button>
  </div>
</s-tabs>

{% schema %}
{
  "name": "Section Tabs",
  "class": "section-tabs",
  "presets": [
    {
      "name": "Section Tabs"
    }
  ],
  "settings": [
    {
      "type": "range",
      "id": "padding-top",
      "min": 0,
      "max": 200,
      "step": 10,
      "unit": "px",
      "label": "Padding top",
      "default": 70
    },
    {
      "type": "range",
      "id": "padding-bottom",
      "min": 0,
      "max": 200,
      "step": 10,
      "unit": "px",
      "label": "Padding bottom",
      "default": 100
    },
    {
      "type": "range",
      "id": "padding-top-mobile",
      "min": 0,
      "max": 200,
      "step": 10,
      "unit": "px",
      "label": "Padding top mobile",
      "default": 70
    },
    {
      "type": "range",
      "id": "padding-bottom-mobile",
      "min": 0,
      "max": 200,
      "step": 10,
      "unit": "px",
      "label": "Padding bottom mobile",
      "default": 70
    },
    {
      "type": "select",
      "id": "section_bg",
      "label": "Select Section Background",
      "options": [
        {
          "label": "White",
          "value": "var(--white)"
        },
        {
          "label": "Black",
          "value": "var(--black)"
        },
        {
          "label": "Deep Blue",
          "value": "var(--deep-blue)"
        },
        {
          "label": "Light Blue",
          "value": "var(--light-blue)"
        },
        {
          "label": "Grey 1",
          "value": "var(--grey-1)"
        },
        {
          "label": "Grey 2",
          "value": "var(--grey-2)"
        },
        {
          "label": "Grey 3",
          "value": "var(--grey-3)"
        },
        {
          "label": "Background",
          "value": "var(--background)"
        },
        {
          "label": "BG Blue",
          "value": "var(--bg-blue)"
        }
      ],
      "default": "var(--black)"
    },
    {
      "type": "richtext",
      "id": "title",
      "label": "Enter Title",
      "default": "<p>Why Spamigo Covers Are the <strong>#1 Choice</strong> for Hot Tub?</p>",
      "info": "Use \"Bold\" for accent color"
    },
    {
      "type": "select",
      "id": "title_color",
      "label": "Select Title Color",
      "options": [
        {
          "label": "White",
          "value": "var(--white)"
        },
        {
          "label": "Black",
          "value": "var(--black)"
        },
        {
          "label": "Deep Blue",
          "value": "var(--deep-blue)"
        },
        {
          "label": "Light Blue",
          "value": "var(--light-blue)"
        },
        {
          "label": "Grey 1",
          "value": "var(--grey-1)"
        },
        {
          "label": "Grey 2",
          "value": "var(--grey-2)"
        },
        {
          "label": "Grey 3",
          "value": "var(--grey-3)"
        },
        {
          "label": "Background",
          "value": "var(--background)"
        },
        {
          "label": "BG Blue",
          "value": "var(--bg-blue)"
        }
      ],
      "default": "var(--white)"
    },
    {
      "type": "select",
      "id": "accent_title_color",
      "label": "Select Accent Title Color",
      "options": [
        {
          "label": "White",
          "value": "var(--white)"
        },
        {
          "label": "Black",
          "value": "var(--black)"
        },
        {
          "label": "Deep Blue",
          "value": "var(--deep-blue)"
        },
        {
          "label": "Light Blue",
          "value": "var(--light-blue)"
        },
        {
          "label": "Grey 1",
          "value": "var(--grey-1)"
        },
        {
          "label": "Grey 2",
          "value": "var(--grey-2)"
        },
        {
          "label": "Grey 3",
          "value": "var(--grey-3)"
        },
        {
          "label": "Background",
          "value": "var(--background)"
        },
        {
          "label": "BG Blue",
          "value": "var(--bg-blue)"
        }
      ],
      "default": "var(--grey-3)"
    },
    {
      "type": "header",
      "content": "Setting Tabs"
    },
    {
      "type": "select",
      "id": "tab_bg",
      "label": "Select Tab Background",
      "options": [
        {
          "label": "White",
          "value": "var(--white)"
        },
        {
          "label": "Black",
          "value": "var(--black)"
        },
        {
          "label": "Deep Blue",
          "value": "var(--deep-blue)"
        },
        {
          "label": "Light Blue",
          "value": "var(--light-blue)"
        },
        {
          "label": "Grey 1",
          "value": "var(--grey-1)"
        },
        {
          "label": "Grey 2",
          "value": "var(--grey-2)"
        },
        {
          "label": "Grey 3",
          "value": "var(--grey-3)"
        },
        {
          "label": "Background",
          "value": "var(--background)"
        },
        {
          "label": "BG Blue",
          "value": "var(--bg-blue)"
        }
      ],
      "default": "var(--bg-blue)"
    },
    {
      "type": "select",
      "id": "tab_color",
      "label": "Select Tab Color",
      "options": [
        {
          "label": "White",
          "value": "var(--white)"
        },
        {
          "label": "Black",
          "value": "var(--black)"
        },
        {
          "label": "Deep Blue",
          "value": "var(--deep-blue)"
        },
        {
          "label": "Light Blue",
          "value": "var(--light-blue)"
        },
        {
          "label": "Grey 1",
          "value": "var(--grey-1)"
        },
        {
          "label": "Grey 2",
          "value": "var(--grey-2)"
        },
        {
          "label": "Grey 3",
          "value": "var(--grey-3)"
        },
        {
          "label": "Background",
          "value": "var(--background)"
        },
        {
          "label": "BG Blue",
          "value": "var(--bg-blue)"
        }
      ],
      "default": "var(--grey-3)"
    },
    {
      "type": "select",
      "id": "tab_bg_active",
      "label": "Select Tab Active Background",
      "options": [
        {
          "label": "White",
          "value": "var(--white)"
        },
        {
          "label": "Black",
          "value": "var(--black)"
        },
        {
          "label": "Deep Blue",
          "value": "var(--deep-blue)"
        },
        {
          "label": "Light Blue",
          "value": "var(--light-blue)"
        },
        {
          "label": "Grey 1",
          "value": "var(--grey-1)"
        },
        {
          "label": "Grey 2",
          "value": "var(--grey-2)"
        },
        {
          "label": "Grey 3",
          "value": "var(--grey-3)"
        },
        {
          "label": "Background",
          "value": "var(--background)"
        },
        {
          "label": "BG Blue",
          "value": "var(--bg-blue)"
        }
      ],
      "default": "var(--light-blue)"
    },
    {
      "type": "select",
      "id": "tab_color_active",
      "label": "Select Tab Active Color",
      "options": [
        {
          "label": "White",
          "value": "var(--white)"
        },
        {
          "label": "Black",
          "value": "var(--black)"
        },
        {
          "label": "Deep Blue",
          "value": "var(--deep-blue)"
        },
        {
          "label": "Light Blue",
          "value": "var(--light-blue)"
        },
        {
          "label": "Grey 1",
          "value": "var(--grey-1)"
        },
        {
          "label": "Grey 2",
          "value": "var(--grey-2)"
        },
        {
          "label": "Grey 3",
          "value": "var(--grey-3)"
        },
        {
          "label": "Background",
          "value": "var(--background)"
        },
        {
          "label": "BG Blue",
          "value": "var(--bg-blue)"
        }
      ],
      "default": "var(--black)"
    }
  ],
  "blocks": [
    {
      "type": "tab",
      "name": "Tab",
      "limit": 4,
      "settings": [
        {
          "type": "header",
          "content": "Preview Settings",
        },
        {
          "type": "text",
          "id": "preview_title",
          "label": "Enter Preview Title",
          "default": "Perfect Fit"
        },
        {
          "type": "select",
          "id": "preview_title_color",
          "label": "Select Preview Title Color",
          "info": "Used for mobile Screens",
          "options": [
            {
              "label": "White",
              "value": "var(--white)"
            },
            {
              "label": "Black",
              "value": "var(--black)"
            },
            {
              "label": "Deep Blue",
              "value": "var(--deep-blue)"
            },
            {
              "label": "Light Blue",
              "value": "var(--light-blue)"
            },
            {
              "label": "Grey 1",
              "value": "var(--grey-1)"
            },
            {
              "label": "Grey 2",
              "value": "var(--grey-2)"
            },
            {
              "label": "Grey 3",
              "value": "var(--grey-3)"
            },
            {
              "label": "Background",
              "value": "var(--background)"
            },
            {
              "label": "BG Blue",
              "value": "var(--bg-blue)"
            }
          ],
          "default": "var(--grey-3)"
        },
        {
          "type": "select",
          "id": "preview_icon",
          "label": "Select Preview Icon",
          "options": [
            {
              "label": "None",
              "value": "none"
            },
            {
              "label": "Snowflake",
              "value": "snowflake"
            },
            {
              "label": "Light Bulb",
              "value": "light_bulb"
            },
            {
              "label": "Drop",
              "value": "drop"
            },
            {
              "label": "Custom Size",
              "value": "custom_size"
            },
            {
              "label": "Sun",
              "value": "sun"
            },
            {
              "label": "Leaf",
              "value": "leaf"
            },
            {
              "label": "Perfect Fit",
              "value": "prefect_fit"
            },
            {
              "label": "Sun 2",
              "value": "sun_2"
            },
            {
              "label": "Truck",
              "value": "truck"
            },
            {
              "label": "Credit Card",
              "value": "credit-card"
            },
            {
              "label": "License",
              "value": "license"
            },
            {
              "label": "Stars",
              "value": "stars"
            }
          ],
          "default": "none"
        },
        {
          "type": "header",
          "content": "Content Settings",
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Select Tab Image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Enter Title",
          "default": "Custom Fit for Any Hot Tub Brand",
        },
        {
          "type": "select",
          "id": "title_color",
          "label": "Select Title Color",
          "options": [
            {
              "label": "White",
              "value": "var(--white)"
            },
            {
              "label": "Black",
              "value": "var(--black)"
            },
            {
              "label": "Deep Blue",
              "value": "var(--deep-blue)"
            },
            {
              "label": "Light Blue",
              "value": "var(--light-blue)"
            },
            {
              "label": "Grey 1",
              "value": "var(--grey-1)"
            },
            {
              "label": "Grey 2",
              "value": "var(--grey-2)"
            },
            {
              "label": "Grey 3",
              "value": "var(--grey-3)"
            },
            {
              "label": "Background",
              "value": "var(--background)"
            },
            {
              "label": "BG Blue",
              "value": "var(--bg-blue)"
            }
          ],
          "default": "var(--white)"
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "Enter Description",
          "default": "<ul><li>Fits hot tubs from any brand, including Jacuzzi®, Sundance®, Coleman®, and more.</li><li>Designed to match your specific tub dimensions for a snug, secure fit.</li><li>Prevents energy loss and water contamination caused by poorly fitted covers.</li></ul>",
        },
        {
          "type": "select",
          "id": "description_color",
          "label": "Select Description Color",
          "options": [
            {
              "label": "White",
              "value": "var(--white)"
            },
            {
              "label": "Black",
              "value": "var(--black)"
            },
            {
              "label": "Deep Blue",
              "value": "var(--deep-blue)"
            },
            {
              "label": "Light Blue",
              "value": "var(--light-blue)"
            },
            {
              "label": "Grey 1",
              "value": "var(--grey-1)"
            },
            {
              "label": "Grey 2",
              "value": "var(--grey-2)"
            },
            {
              "label": "Grey 3",
              "value": "var(--grey-3)"
            },
            {
              "label": "Background",
              "value": "var(--background)"
            },
            {
              "label": "BG Blue",
              "value": "var(--bg-blue)"
            }
          ],
          "default": "var(--white)"
        },
        {
          "type": "header",
          "content": "Link Settings"
        },
        {
          "type": "select",
          "id": "link_icon",
          "label": "Select Icon",
          "options": [
            {
              "label": "None",
              "value": "none"
            },
            {
              "label": "Phone",
              "value": "phone"
            },
            {
              "label": "e-Mail",
              "value": "mail"
            }
          ],
          "default": "none"
        },
        {
          "type": "url",
          "id": "link_url",
          "label": "Enter Link URL"
        },
        {
          "type": "text",
          "id": "link_text",
          "label": "Enter Link Text",
          "default": "+1 (866) 515-6446"
        },
        {
          "type": "select",
          "id": "link_bg",
          "label": "Select Link Background",
          "options": [
            {
              "label": "White",
              "value": "var(--white)"
            },
            {
              "label": "Black",
              "value": "var(--black)"
            },
            {
              "label": "Deep Blue",
              "value": "var(--deep-blue)"
            },
            {
              "label": "Light Blue",
              "value": "var(--light-blue)"
            },
            {
              "label": "Grey 1",
              "value": "var(--grey-1)"
            },
            {
              "label": "Grey 2",
              "value": "var(--grey-2)"
            },
            {
              "label": "Grey 3",
              "value": "var(--grey-3)"
            },
            {
              "label": "Background",
              "value": "var(--background)"
            },
            {
              "label": "BG Blue",
              "value": "var(--bg-blue)"
            }
          ],
          "default": "var(--deep-blue)"
        },
        {
          "type": "select",
          "id": "link_color",
          "label": "Select Link Color",
          "options": [
            {
              "label": "White",
              "value": "var(--white)"
            },
            {
              "label": "Black",
              "value": "var(--black)"
            },
            {
              "label": "Deep Blue",
              "value": "var(--deep-blue)"
            },
            {
              "label": "Light Blue",
              "value": "var(--light-blue)"
            },
            {
              "label": "Grey 1",
              "value": "var(--grey-1)"
            },
            {
              "label": "Grey 2",
              "value": "var(--grey-2)"
            },
            {
              "label": "Grey 3",
              "value": "var(--grey-3)"
            },
            {
              "label": "Background",
              "value": "var(--background)"
            },
            {
              "label": "BG Blue",
              "value": "var(--bg-blue)"
            }
          ],
          "default": "var(--white)"
        }
      ]
    }
  ]
}
{% endschema %}